.App-container {
    background-color: #E8E8E8;
    text-align: left;
    min-height: 500px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.App-blogs {
  background-color: #ffffff;
  text-align: left;
  color: white;
}
