.App-footer {
    background-color: #673AB7;
    height: 46px;
    text-align: right;
    padding: 20px;
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
